---
interface Props {
	title: string;
}

const { title} = Astro.props;

import BodyWallpaper from '@/components/BodyWallpaper.astro';
import Header from '@/components/Header.astro';
import {ViewTransitions} from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Corro-Kun" />
		<meta name="description" content="Un rincón de internet para que puedas descargar aplicaciones/programas para tu entretenimiento." />
		<meta name="keywords" content="Corro-Kun, StoreKun, Tienda de software, gratis" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content="Un rincón de internet para que puedas descargar aplicaciones/programas para tu entretenimiento." />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:site_name" content="StoreKun" />
		<meta name="og:locale" content="es_CO" />
		<meta name="og:type" content="website" />
		<title>{title}</title>
		<ViewTransitions fallback='none' />
	</head>
	<body>
		<Header />
		<BodyWallpaper >
			<slot />
		</BodyWallpaper>
	</body>
</html>

<style is:global>
	:root {
		--Text_Color: #fff;
		--Main_Color: #188C77;
		--Button_Color: #0F88F2;
		--Bg_Color: #162840;
		--Bg_Blur: linear-gradient(to top, rgba(16, 28, 40, 0), rgba(16, 28, 40, 1));
		--Color_Linear: linear-gradient(to right, #ffffff, #188C77);
	}
	@font-face {
		font-family: 'Cascadia';
		src: url("../assets/CascadiaCode.ttf" format("truetype"));
	}

	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: 'Cascadia', sans-serif;
	}

	body{
		color: var(--Main_Color);
		background-color: var(--Bg_Color);
	}
</style>
