---
interface Props {
	title: string;
	description: string;
	link?: string;
}

const {title, description, link = ""} = Astro.props;

import BodyWallpaper from '@/components/BodyWallpaper.astro';
import Header from '@/components/Header.astro';
import {ViewTransitions} from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<link rel="canonical" href={"https://storekun.vercel.app/"+link}>
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="aplicaciones, Corro-Kun, GitHub, Store-Kun, descargar aplicaciones">
		<meta name="author" content="Corro-Kun">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={"https://storekun.vercel.app/"+link}>
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Store-Kun">
		<meta property="og:locale" content="es_CO">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google-site-verification" content="ppaoeKGbyVo1CnQAEDuk_V9TxGiRYK9OcLISj6_tXlQ" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions fallback='none' />
	</head>
	<body>
		<Header />
		<BodyWallpaper >
			<slot />
		</BodyWallpaper>
	</body>
</html>

<style is:global>
	:root {
		--Text_Color: #fff;
		--Main_Color: #188C77;
		--Button_Color: #0F88F2;
		--Bg_Color: #162840;
		--Bg_Blur: linear-gradient(to top, rgba(16, 28, 40, 0), rgba(16, 28, 40, 1));
		--Color_Linear: linear-gradient(to right, #ffffff, #188C77);
	}
	@font-face {
		font-family: 'Cascadia';
		src: url("../assets/CascadiaCode.ttf" format("truetype"));
	}

	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: 'Cascadia', sans-serif;
	}

	body{
		color: var(--Main_Color);
		background-color: var(--Bg_Color);
	}
</style>
